<div class="text-center">
  <div class="bg-slate-50 py-4 mb-5">
    <img
      ngSrc="/assets/icons/contact/contact-created.svg"
      alt="Contact created"
      width="200"
      height="260"
      priority
      class="mx-auto"
    />
  </div>
  <h2 class="text-2xl font-bold mb-4">Contact created successfully!</h2>
  <p>Efficiently oversee loans for your clients with streamlined processes and exceptional service. Get started now!</p>
  <button (click)="reset()" class="w-full p-2 bg-secondary block text-white rounded-lg mt-11 cursor-pointer">
    View contact list
  </button>
</div>
