<header class="bg-white shadow-sm flex justify-between items-center border-s-fuchsia-200 h-[72px] px-4">
  <div class="flex items-center gap-4">
    <button
      class="size-8 bg-[#35568F] rounded-lg transition-all"
      (click)="toggle()"
      [ngClass]="{ 'rotate-180': closeSidebar() }"
    >
      <div class="relative flex justify-center items-center">
        <img ngSrc="/assets/icons/toggle-menu-icon.svg" style="filter: invert(100%)" width="16" height="16" alt="" />
      </div>
    </button>

    <div class="hidden lg:block">
      @if (user(); as user) {
        <h5 class="font-bold text-xl">Welcome back {{ user.first_name }}!</h5>

        @let link = 'https://apply.businessmarketfinders.com/?ref=' + user.referral_id;

        @if (userConfigured()) {
          <div class="flex items-center gap-2">
            <p>
              Earn money with your
              <a [href]="link" target="_blank" class="text-secondary underline">affiliate link!</a>
            </p>
            <button [cdkCopyToClipboard]="link"><img src="assets/icons/copy.svg" alt="Copy" class="size-4" /></button>
          </div>
        }
      }
    </div>
  </div>

  <div class="flex items-center justify-between gap-4">
    @defer (when permissions.hasPermission(permission.REQUEST_CUSTOM_CALL)) {
      <div><app-custom-phone-caller /></div>
    }
    @defer {
      <div><app-user-notifications /></div>
    }

    @if (user(); as user) {
      <div class="relative hidden lg:block">
        <button class="flex items-center bg-white border-0 p-1" (click)="dropdownsm.classList.toggle('hidden')">
          {{ user.first_name }} {{ user.last_name }}
          <img src="/assets/icons/arrow-down.svg" class="ml-2 size-3" alt="" />
        </button>
      </div>

      <div class="relative">
        <button
          (click)="dropdownsm.classList.toggle('hidden')"
          type="button"
          class="text-white text-center avatar rounded bg-red-600 cursor-pointer mr-5"
          role="button"
          style="width: 30px; height: 30px; line-height: 30px"
        >
          {{ user.first_name + ' ' + user.last_name | initials }}
        </button>
        <ul class="absolute right-0 mt-2 w-48 bg-white border rounded shadow-lg dropdown-menu hidden" #dropdownsm>
          <li>
            <a
              class="block px-4 py-2 hover:bg-gray-100"
              (click)="dropdownsm.classList.toggle('hidden')"
              routerLink="update-profile"
              >Edit Profile</a
            >
          </li>
          <li>
            <a
              class="block px-4 py-2 hover:bg-gray-100"
              (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })"
              >Log out</a
            >
          </li>
        </ul>
      </div>
    }
  </div>
</header>

<app-modal #updateProfile [backgroundClose]="false">
  @defer {
    <div class="flex items-center justify-center">
      <div class="bg-white w-full max-w-lg rounded-lg overflow-auto">
        <header class="p-4 flex justify-between items-center border-b border-gray-300">
          <h2 class="font-bold text-xl truncate">Complete your profile!</h2>
        </header>
        <app-update-profile [showInModal]="true" (updated)="updateProfile.close()" />
      </div>
    </div>
  }
</app-modal>
