@if (loading()) {
  <div class="h-full text-center flex justify-center items-center">
    <div class="loader"></div>
  </div>
} @else {
  @if (company(); as company) {
    <div class="flex flex-col lg:flex-row gap-4 p-4">
      <aside class="w-full lg:w-1/3 flex flex-col gap-4">
        <div class="bg-white rounded-lg shadow p-4 py-6">
          <header class="text-center mb-6">
            <div
              class="bg-blue-950 text-white rounded-lg size-20 flex items-center justify-center mb-8 mx-auto text-2xl"
            >
              {{ company.name | initials }}
            </div>
            <h2 class="text-xl truncate">{{ company.name }}</h2>
            <p class="text-gray-500 mb-2">{{ company.dba }}</p>
            <h3 class="text-sm truncate">Created At</h3>
            <p class="text-neutral-500 truncate text-sm">
              {{ company.created_at | customDate }}
            </p>
            @if (company.created_by) {
              <h3 class="text-sm truncate">Assigned to</h3>
              <p class="text-neutral-500 truncate text-sm flex items-center justify-center">
                {{ company.created_by.first_name + ' ' + company.created_by.last_name }}
              </p>
            }
          </header>
          <div class="group open" #details>
            <div class="flex justify-between items-center">
              <button (click)="details.classList.toggle('open')" class="flex gap-2 items-center">
                <h3 class="text-black">Details</h3>
                <div class="relative size-3 rotate-180 group-[.open]:rotate-0 transition-all">
                  <img ngSrc="/assets/icons/arrow-down.svg" fill alt="" />
                </div>
              </button>
              @if (permissions.hasPermission(permission.UPDATE_COMPANY)) {
                <a
                  class="bg-gray-200 text-gray-600 py-1 px-3 rounded"
                  [routerLink]="['/companies', company.id, 'details']"
                >
                  Edit
                </a>
              }
            </div>
            <hr class="my-2" />
            <div class="mb-2 grid grid-rows-[0fr] transition-all group-[.open]:grid-rows-[1fr]">
              <div class="overflow-hidden">
                <div class="mb-2">
                  <h4>Tax ID</h4>
                  <p class="text-neutral-500">{{ company.tax_id }}</p>
                </div>
                <div class="mb-2">
                  <h4>Industry</h4>
                  <p class="text-neutral-500">
                    {{ company.industry.name }}
                  </p>
                </div>
                <div class="mb-2">
                  <h4>Service</h4>
                  <p class="text-neutral-500">
                    {{ company.service }}
                  </p>
                </div>
                <div class="mb-2">
                  <h4>Creation date</h4>
                  <p class="text-neutral-500">
                    {{ company.creation_date | customDate }}
                  </p>
                </div>

                <div class="mb-2">
                  <h4>Entity type</h4>
                  <p class="text-neutral-500">
                    {{ config.entityType()[company.entity_type] }}
                  </p>
                </div>

                <div class="mb-2">
                  <h4>Phones</h4>
                  @for (phone of company.phone_numbers; track $index) {
                    <p class="text-neutral-500">
                      <app-callable-phone
                        [callInfo]="{
                          entity_type: 'COMPANY',
                          entity_id: company.id,
                          phone_index: $index,
                          phone_hint: phone | formatPhone,
                        }"
                      />
                    </p>
                  }
                </div>

                <div class="mb-2">
                  <h4>Email</h4>
                  @for (email of company.emails; track $index) {
                    <p class="text-neutral-500 truncate">{{ email }}</p>
                  }
                </div>

                <div class="mb-2">
                  <h4>Address</h4>
                  <p class="text-neutral-500">{{ company.address | address | async }}</p>
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow p-4 py-6">
          <div class="group open" #members>
            <div class="flex justify-between items-center">
              <button (click)="members.classList.toggle('open')" class="flex gap-2 items-center">
                <h3 class="text-black">Members</h3>
                <div class="relative size-3 rotate-180 group-[.open]:rotate-0 transition-all">
                  <img ngSrc="/assets/icons/arrow-down.svg" fill alt="" />
                </div>
              </button>
              @if (permissions.hasPermission(permission.UPDATE_COMPANY)) {
                <a
                  class="bg-gray-200 text-gray-600 py-1 px-3 rounded"
                  [routerLink]="['/companies', company.id, 'members']"
                >
                  Edit
                </a>
              }
            </div>
            <hr class="my-2" />
            <div class="mb-2 grid grid-rows-[0fr] transition-all group-[.open]:grid-rows-[1fr]">
              <div class="overflow-hidden">
                <div class="mb-2">
                  @for (member of company.members; track $index) {
                    <a [routerLink]="['/', 'contacts', member.contact.id]" target="_blank">
                      <div
                        class="mb-2 max-w-md mx-auto overflow-hidden rounded-lg border border-dashed border-neutral-500"
                      >
                        <div class="p-2 flex items-center justify-between">
                          <div class="flex items-center">
                            <div
                              class="size-10 bg-primary rounded-lg text-white flex items-center justify-center uppercase"
                            >
                              {{ member.contact.first_name + ' ' + member.contact.last_name | initials }}
                            </div>
                            <div class="ml-4">
                              <p class="font-semibold text-lg truncate">
                                {{ member.contact.first_name }} {{ member.contact.last_name }}
                              </p>
                              <p class="text-sm text-gray-500 truncate w-40">{{ member.title }}</p>
                            </div>
                          </div>
                          <p class="text-lg font-semibold">{{ member.percentage }}%</p>
                        </div>
                      </div>
                    </a>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-white rounded-lg shadow px-5 py-4">
          <div class="mb-4">
            <h3>Documents</h3>
          </div>
          <hr class="my-3" />
          @if (uploadingDoc()) {
            <div class="text-center p-4">
              <div class="loader"></div>
            </div>
          } @else {
            @defer (when permissions.hasPermission(permission.UPDATE_COMPANY)) {
              @if (canUploadMore()) {
                <app-file-picker
                  [maxFiles]="1"
                  [manualHandled]="true"
                  (selectFiles)="addFile($event)"
                  [withType]="true"
                  [fileTypes]="config.companyFileTypes()"
                />
              }
            }
            @for (file of files(); track $index) {
              <app-remote-file-handler
                [source]="file.source"
                [name]="file.name"
                [type]="file.type"
                (deleted)="removeFile(file.id)"
                [withDocType]="true"
                [docType]="config.companyFileTypes()[file.docType]"
              />
            }
          }
        </div>
      </aside>

      <main class="flex flex-col gap-4 w-full lg:w-3/4">
        @defer {
          <app-company-notes [company]="company" />
        }
        @defer (when permissions.hasPermission(permission.LIST_COMPANIES)) {
          <app-company-applications [id]="companyId()" />
        }
      </main>
    </div>
  }
}
