<div class="bg-white border border-neutral-300 flex items-center gap-3 p-2 rounded-lg mb-1">
  <div
    (click)="fileVysor.open(); openVysor()"
    class="rounded-md size-10 flex items-center justify-center shrink-0"
    [ngClass]="type === 'pdf' ? 'bg-sky-600' : 'bg-orange-500'"
  >
    @if (type !== 'pdf') {
      <img src="/assets/icons/file-image.svg" alt="Image" />
    } @else {
      <img src="/assets/icons/file-pdf.svg" alt="File" />
    }
  </div>
  <div (click)="fileVysor.open(); openVysor()" class="grow cursor-pointer truncate w-36">
    <p class="truncate">{{ name }}</p>
    @if (withDocType) {
      <small class="text-sm text-gray-400">{{ docType }}</small>
    }
  </div>
  @if (showDelete) {
    <button class="shrink-0" type="button" (click)="deleted.emit()">
      <img src="/assets/icons/trash-icon.svg" width="14" height="16" alt="Delete" />
    </button>
  }
</div>

<app-modal #fileVysor (closed)="showFile.set(false)">
  @if (showFile()) {
    <div class="flex gap-2 items-center justify-between">
      @if (permissions.hasPermission(permission.DOWNLOAD_FILES)) {
        <a [href]="source" target="_blank" class="bg-secondary text-white px-2 py-1 rounded-md">Download</a>
      }
      <button (click)="fileVysor.close()" class="size-6 block bg-secondary text-white rounded-md">X</button>
    </div>
    @defer {
      <app-remote-file-vysor [type]="type" [source]="source" />
    }
  }
</app-modal>
