<div
  class="p-2 bg-white text-black relative border-b border-b-gray-300"
  [ngClass]="config.noteLevel()[note.level]"
  [style.maxHeight]="expanded() ? 'none' : '190px'"
  style="overflow: hidden"
  (click)="expanded.set(!expanded())"
>
  <div class="text-sm mb-10 break-all whitespace-pre-line" [ngClass]="{ 'line-clamp-3': !expanded() }">
    {{ note.description }}
  </div>

  <div [ngClass]="{ truncate: !expanded() }">
    <span class="text-sm font-medium" [ngClass]="{ truncate: !expanded() }">
      {{ note.author.first_name + ' ' + note.author.last_name }}
    </span>
    <div class="text-sm">{{ note.created_at | customDate }}</div>
  </div>
</div>
