<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="flex lg:flex-row flex-col gap-4">
    <section>
      <div class="flex flex-wrap max-md:justify-center gap-4">
        @if (!form.controls.company.value) {
          <app-search-company (companySelected)="form.controls.company.setValue($event)" />
        } @else {
          @let company = form.controls.company.value!;
          <article
            class="p-3 rounded-lg border border-dashed border-neutral-500 text-center flex items-center justify-center xl:w-60 w-44"
          >
            <div class="w-full truncate">
              <div class="mb-4">
                <div class="flex gap-2 justify-end items-center">
                  <button class="size-4 relative" type="button" (click)="form.controls.company.reset()">
                    <img src="/assets/icons/trash-icon.svg" alt="Remove" width="14" />
                  </button>
                </div>
                <div
                  class="size-10 bg-gray-800 rounded-lg text-white flex items-center justify-center uppercase mx-auto mt-4"
                >
                  {{ company.name | initials }}
                </div>
              </div>
              <div>
                <h3 class="font-bold truncate text-2xl">{{ company.name }}</h3>
                <div class="flex items-center gap-2 justify-center m-3">
                  <div class="relative size-5">
                    <img
                      [ngSrc]="
                        'https://raw.githubusercontent.com/hampusborgos/country-flags/main/svg/' +
                        company.country_iso_code_2.toLowerCase() +
                        '.svg'
                      "
                      [alt]="company.country_iso_code_2"
                      fill
                    />
                  </div>
                  @if (company?.dba) {
                    <p class="text-gray-500 text-sm truncate">
                      {{ company.dba }}
                    </p>
                  }
                </div>
              </div>
              <p class="text-sm truncate mb-6">
                {{ company.creation_date | customDate }} ({{ company.creation_date | yearsAgo }})
              </p>
            </div>
          </article>
        }
      </div>
      <app-form-error-message [control]="form.controls.company" />
    </section>

    <section class="mt-6 flex flex-wrap max-md:justify-center gap-4 grow">
      <fieldset class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full">
        <div>
          <app-custom-input label="Loan amount" formControlName="loan_amount" />
        </div>
        <div>
          <app-custom-select
            formControlName="product"
            placeholder="Product"
            [options]="productType().values"
            [labels]="productType().labels"
          />
        </div>

        <div formGroupName="referral">
          <app-custom-select
            formControlName="source"
            placeholder="Select source"
            [options]="referralSources().values"
            [labels]="referralSources().labels"
          />
        </div>

        <div formGroupName="referral">
          <app-custom-input label="Reference" formControlName="reference" />
        </div>
      </fieldset>
    </section>
  </div>
  <app-form-error-message [control]="formService.form" />
  <div class="flex gap-4 justify-end mt-10 md:flex-row flex-col text-center max-md:w-full">
    <button
      class="items-center gap-2 bg-zinc-200 px-4 py-2 rounded-lg md:flex"
      type="button"
      routerLink="/applications"
    >
      <div class="relative size-5 shrink-0 hidden md:block">
        <img ngSrc="/assets/icons/arrow-left.svg" alt="Back" fill />
      </div>
      Cancel
    </button>
    <button class="items-center gap-2 bg-secondary px-4 py-2 rounded-lg text-white md:flex" type="submit">
      Continue
      <div class="relative size-5 shrink-0 hidden md:block">
        <img ngSrc="/assets/icons/arrow-right.svg" alt="Right" class="filter invert-[100%]" fill />
      </div>
    </button>
  </div>
</form>
