<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="mb-4">
    <app-custom-select
      formControlName="level"
      placeholder="select level"
      [options]="noteLevel().values"
      [labels]="noteLevel().labels"
    />
  </div>
  <div>
    <label for="nota-textarea" class="block text-sm font-medium text-gray-700 mb-2">Write your note:</label>
    <textarea
      id="nota-textarea"
      rows="4"
      formControlName="description"
      class="w-full p-3 border-b-2 border-gray-300 focus:ring-teal-500 focus:border-teal-500 text-sm text-gray-700"
      placeholder="Write here..."
      (input)="updateCharacterCount()"
    ></textarea>

    <div class="text-sm text-gray-600 text-right mt-1">{{ charCount() }}/1000</div>
  </div>

  <div class="flex gap-4 justify-end mt-10 md:flex-row flex-col text-center max-md:w-full">
    <button
      class="items-center gap-2 bg-zinc-200 px-4 py-2 rounded-lg md:flex"
      type="button"
      (click)="formService.prev()"
    >
      <div class="relative size-5 shrink-0 hidden md:block">
        <img ngSrc="/assets/icons/arrow-left.svg" alt="Back" fill />
      </div>
      Cancel
    </button>
    <button class="items-center gap-2 bg-secondary px-4 py-2 rounded-lg text-white md:flex" type="submit">
      Continue
      <div class="relative size-5 shrink-0 hidden md:block">
        <img ngSrc="/assets/icons/arrow-right.svg" alt="Right" class="filter invert-[100%]" fill />
      </div>
    </button>
  </div>
</form>
